Documentación

In [6]:
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

In [10]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [11]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [12]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [13]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [14]:
'Moon' in 'This text will describe facts about the Moon'

True

In [23]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [25]:
temperatures.find('Moon')

-1

In [29]:
temperatures.count('Mars')

1

In [30]:
temperatures.count('Moon')

0

In [1]:
temperatures = 'Mars Average Temperature: -60 C'

In [2]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [3]:
parts[-1]

' -60 C'

In [4]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [9]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item,'°C' )

30 °C

In [16]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [31]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [32]:
round(100/6, 2)

16.67

Ejercicios

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
Div_texto = text.split()
Div_texto

In [56]:
arreglo = {"average","temperature","distance"}

In [48]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

average,
temperature

In [58]:
for oracion in Div_texto:
    for palabra in arreglo:
        if palabra in oracion:
            print(oracion)
            break

average,
temperature

In [106]:
print('Cantidad de veces que hay C en el texto:', text.count('C'))
for palabra in Div_texto:
    palabra = (oracion.replace('C','Celsius'))
    print(palabra)
    break

Cantidad de veces que hay C en el texto: 1
Celsius.

Ejercicio 2

In [119]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"
title = ("gravity "+ name +' between '+ planet)

In [120]:
datos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [122]:
template = f"""{title.title()} 
{datos} 
""" 
print(template)

Gravity Moon Between Earth
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [123]:
planet = 'marte '
gravity  = 0.00143
name = 'Ganímedes'

In [127]:

template2 = """
Datos de Gravedad sobre: {name}
-------------------------------------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s2
"""
print(template2.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [125]:
print(template2.format(name=name, planet=planet, gravity=gravity*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2